{% extends 'contenido/encabezabo.html' %}
{% block titulo %}Registrar{% endblock titulo %}

{% block imagen %}
{% load static %}
{%static 'contenido/imagenes/contacto.png' %}
{% endblock  %}

{% block  contenido%}

<form action="index.html" method="post">
      
  <h1>Contactanos</h1>
  
  <fieldset>
    <legend><span class="number">1</span>Tu Informacion Basica</legend>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="user_name">
    
    <label for="mail">Correo:</label>
    <input type="email" id="mail" name="user_email">
    
    
    
    
  </fieldset>
  <fieldset>
  <label for="job">Materias:</label>
  <select id="job" name="user_job">
      <option value="secretary">Matematicas</option>
      <option value="secretary">Base de datos</option>
      <option value="maintenance">Programacion</option>
    
  </select>
  
</fieldset>
  <fieldset>
    <legend><span class="number">2</span>Agrega tus Comentarios</legend>
    <label for="bio">COMENTARIOS:</label>
    <textarea id="bio" name="user_bio"></textarea>
  </fieldset>
  
  <button type="submit">Enviar</button>
</form>


    {% endblock  %}