{% extends 'contenido/encabezabo.html' %}
{% block titulo %}Principal{% endblock titulo %}

{% block imagen %}
{% load static %}
{%static 'contenido/imagenes/home.png' %}
{% endblock  %}

{% block  contenido%}

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Lista
            <span class="text-primary">De curso</span>
        </h1>
        <div class="subheading mb-5">
            CONTENIDO
            <a href="mailto:name@email.com">name@email.com</a>
        </div>
        <p class="lead mb-5">contenido</p>
        <table class="table table-bordered tablestriped">
                <thead>
                <tr>
                <th>Foto</th>
                <th>Materia</th>
                <th>grado</th>
                
                
                <th>descripcion</th>
                <th>Carrera</th>
                <th>Profesor</th>
                <th>impartido desde</th>
                </tr>
                </thead>
            {% for curso in cursos  %}
                <tbody>
                    <tr>
                    <td class="text-center">
                    <img src="{{curso.imagen.url}}" alt="" class="img-media" >
                    </td>
                    <td class="text-semibold">{{curso.Materia}}</td>
                    <td class="muted">{{curso.Grado}}</td>
                    <td class="muted">{{curso.Descripcion}}</td>
                    <td class="muted">{{curso.carrera}}</td>
                    <td class="muted">{{curso.Profesor}}</td>
                    <td class="muted">{{curso.created}}</td>

                    </tr>
                </tbody>
            {% endfor %}
        </table>
        <div class="social-icons">
            
            <a class="social-icon" href="https://github.com/Vidaguilar/Repositorio-CursoDjango"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>

{% endblock  %}
